* { 
box-sizing: border-box;
padding: 0;
margin: 0;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 62.5%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calculator{ 
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid grey;

}
.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid grey;
    overflow-x: auto;

}
.calculator-keypad{
    display: flex;
    width: 100%;
}
.keypad-numbers{
    display: flex;
    width:100% ;
    flex-wrap: wrap;
}
.keypad-button{
width: 25%;
padding: 15px 0;
text-align: center;
cursor: pointer;
background-color: antiquewhite;
border: 1px solid gray;
}
.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
}
.keypad-button.yellow{
    background-color: pink;
}
.keypad-button.large{
    width: 50%;
}
.keypad-button.dark{
    background-color: rgb(207, 66, 127);
}